<div ng-controller="AllQuestionsCtrl as controller">
    <form class="form-inline well well-sm clearfix">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" placeholder="Search.." class="form-control" ng-model="search">
    </form>
    <div class="row">
        <div class="col-sm-12" ng-repeat="question in questions | filter:search">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12">

                        <h4>{{$index + 1}}. {{question.body}}</h4>
                        <div ng-repeat="answer in question.answers">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="answerEdit">{{$index + 1}}. {{answer.body}}</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right" ng-click="open(null, null, $index)">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="question-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-heder">
                    <h2></h2>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>