<div ng-controller="QuestionPaperCtrl as controller">
    <div class="row">
        <div class="col-xs-12">
            <h4>Progress:</h4>
            <div class="btn-toolbar">
                <button ng-repeat="question in questions" class="btn"
                ng-class="{'btn btn-success': question.selected !== null}"> {{$index+1}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Question:</h3>
        <div class="well well-sm" ng-repeat="question in questions">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{question.text}}</h4>
                    <div class="row">
                        <div class="col-sm-6" ng-repeat="answer in question.answers">
                            <h4 class="answer" ng-class="{'bg-info':question.selected === $index}" ng-click="selectAnswer($index, $parent.$index)">{{answer.answer}}</h4>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
